textarea {
    width: 100%;
    background: white;
}

.title {
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 2px inset #000000;
    color: black;
    position: relative;
}

.title:before, .title:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
    background: black;
}

.title:before{
    bottom: -10px;
    width: 70%;
}
.title:after{
    bottom: -20px;
    width: 50%;
}


.format-btn {
    text-align: center;
}

.form-group textarea {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px #373737;
}

#btn {
    border: none;
    border-radius: 5px;
    margin-top:  20px;
    font-size: 17px;
    background: #226916;
    color: white;
    height: 40px;
}

#btn:hover {
    background: #0c5460;
}

#words {
    width: 200px;
    border-radius: 10px;
    padding: 2px 10px;
    border: 1px solid black;
    background: white;
}
form{
    text-align: center;
    background: url("./13245935.jpg") no-repeat center/cover;
    height: 100vh;
}